Repository dannyk03/av-platform-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint -- --quiet --fix, yarn format -- --write

Cleanup
  src/access-control-list/role/controller/acl-role.controller.ts
  src/config/auth.config.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix jwt refresh nbf for non production envs
  src/config/auth.config.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Reset migrations
  README.md
  src/database/migrations/default/1656331307647-migration.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix gostgress ports
  src/config/database.config.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix .env.example
  .env.example
Due: none

Fixes for docker-compose (WIP)
  docker-compose.yml
  src/config/database.config.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Upgrade packages
  package.json
  yarn.lock
Due: yarn format -- --write

Drop sensitivity_level
  src/access-control-list/policy/entity/acl-policy.entity.ts
  src/access-control-list/role/service/acl-role.service.ts
  src/access-control-list/subject/entity/acl-subject.entity.ts
  src/auth/entity/jwt-refresh-token.entity.ts
  src/config/database.config.ts
  src/database/migrations/default/1656363115894-migration.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/data/system-seed.data.ts
  src/database/seeds/role-presets.seed.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

ACL Entities changes
  src/access-control-list/ability/entity/acl-ability.entity.ts
  src/access-control-list/ability/utils/define-ability-for-user.util.ts
  src/access-control-list/role/service/acl-role.service.ts
  src/database/migrations/default/1656365801227-migration.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/data/system-seed.data.ts
  src/database/seeds/role-presets.seed.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add ThrottlerModule and APP_GUARD (throttle per route)
  package.json
  src/config/middleware.config.ts
  src/core/core.module.ts
  src/utils/middleware/middleware.module.ts
  src/utils/middleware/rate-limit/rate-limit.constant.ts
  src/utils/middleware/rate-limit/rate-limit.middleware.ts
  yarn.lock
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix ThrottlerException response message
  src/config/middleware.config.ts
  src/message/languages/en/request.json
  src/utils/error/error.filter.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix checks to es6 syntax
  src/aws/service/aws.s3.service.ts
  src/message/service/message.service.ts
  src/utils/helper/service/helper.date.service.ts
  src/utils/helper/service/helper.string.service.ts
  src/utils/pagination/pagination.decorator.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix reset-password
  src/access-control-list/role/guard/acl-role.active.guard.ts
  src/access-control-list/role/serialization/acl-role.login.serialization.ts
  src/access-control-list/role/serialization/acl-role.serialization.ts
  src/access-control-list/role/serialization/index.ts
  src/auth/auth.decorator.ts
  src/auth/controller/auth.common.controller.ts
  src/auth/guard/payload/auth.is-active.guard.ts
  src/auth/serialization/auth.login.serialization.ts
  src/core/core.module.ts
  src/organization/serialization/organization.login.serialization.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix reset-password error message
  src/message/languages/en/auth.json
Due: yarn format -- --write

Fix auth routes
  package.json
  src/access-control-list/role/acl-role.constant.ts
  src/access-control-list/role/guard/acl-role.active.guard.ts
  src/auth/auth.decorator.ts
  src/auth/controller/auth.common.controller.ts
  src/auth/guard/jwt/auth.jwt.strategy.ts
  src/config/app.config.ts
  src/main.ts
  src/message/languages/en/auth.json
  src/message/languages/en/organization.json
  src/message/languages/en/request.json
  src/message/languages/en/role.json
  src/message/languages/en/user.json
  src/organization/guard/organization.active.guard.ts
  src/organization/organization.constant.ts
  src/user/guard/user.active.guard.ts
  src/user/user.constant.ts
  src/user/user.decorator.ts
  src/utils/helper/helper.module.ts
  src/utils/helper/service/helper.jwt.service.ts
  src/utils/helper/service/index.ts
  src/utils/middleware/body-parser/body-parser.middleware.ts
  src/utils/middleware/cookie-parser/cookie-parser.middleware.ts
  src/utils/middleware/cors/cors.middleware.ts
  src/utils/middleware/middleware.module.ts
  src/utils/middleware/timestamp/timestamp.middleware.ts
  src/utils/middleware/user-agent/user-agent.middleware.ts
  yarn.lock
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add auth test endpoint
  src/app/app.router.module.ts
  src/message/languages/en/test.json
  src/router/router.test.module.ts
  src/testing/testing.common.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add SystemOnlyGuard
  src/access-control-list/role/controller/acl-role.controller.ts
  src/access-control-list/role/guard/acl-role.active.guard.ts
  src/access-control-list/role/guard/index.ts
  src/auth/auth.decorator.ts
  src/message/languages/en/organization.json
  src/organization/controller/organization.controller.ts
  src/organization/guard/index.ts
  src/organization/organization.constant.ts
  src/organization/organization.decorator.ts
  src/system/system.constant.ts
  src/user/guard/index.ts
  src/user/guard/user.system-only.guard.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add user invitre code creation
  src/access-control-list/role/entity/acl-role-preset.entity.ts
  src/access-control-list/role/entity/acl-role.entity.ts
  src/access-control-list/role/service/acl-role.service.ts
  src/auth/auth.decorator.ts
  src/auth/dto/auth.sign-up.dto.ts
  src/config/user.config.ts
  src/database/database.interface.ts
  src/database/entities/base.entity.ts
  src/message/languages/en/auth.json
  src/message/languages/en/http.json
  src/message/languages/en/messaging.json
  src/message/languages/en/organization.json
  src/message/languages/en/role.json
  src/message/languages/en/setting.json
  src/message/languages/en/user.json
  src/messaging/messaging.constant.ts
  src/messaging/messaging.module.ts
  src/messaging/service/email/email.service.ts
  src/messaging/service/index.ts
  src/organization/controller/organization.controller.ts
  src/organization/entity/organization.entity.ts
  src/organization/service/organization.service.ts
  src/router/router.admin.module.ts
  src/user/controller/user.controller.ts
  src/user/dto/user.create.dto.ts
  src/user/dto/user.invite.dto.ts
  src/user/entity/user-invite.entity.ts
  src/user/entity/user.entity.ts
  src/user/service/index.ts
  src/user/service/user-invite.service.ts
  src/user/service/user.bulk.service.ts
  src/user/service/user.service.ts
  src/user/user.constant.ts
  src/user/user.module.ts
  src/utils/helper/service/helper.date.service.ts
  test/helper/helper.date.service.spec.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Reset migration schema
  src/database/migrations/default/1656526083855-migration.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

yarn upgrade packages
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn format -- --write

Add DB auto creation (.env config)
  .env.example
  .vscode/launch.json
  package.json
  src/config/database.config.ts
  src/config/index.ts
  src/database/typeorm-cli/default.datasource.ts
  src/database/utils.database.ts
  yarn.lock
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix auto database createion
  src/config/database.config.ts
  src/database/service/typeorm-config.service.ts
  src/database/utils/index.ts
  src/database/utils/utils.database.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add migrationsRun:true to database config
  src/config/database.config.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

yarn upgrade packages
  package.json
  yarn.lock
Due: yarn format -- --write

Move invite route to organization controller
  src/access-control-list/role/entity/acl-role.entity.ts
  src/auth/controller/auth.common.controller.ts
  src/config/organization.config.ts
  src/database/seeds/system.seed.ts
  src/message/languages/en/organization.json
  src/message/languages/en/user.json
  src/messaging/service/email/email.service.ts
  src/organization/controller/index.ts
  src/organization/controller/organization-invite.controller.ts
  src/organization/dto/index.ts
  src/organization/dto/organization.invite.dto.ts
  src/organization/entity/index.ts
  src/organization/entity/organization-invite.entity.ts
  src/organization/entity/organization.entity.ts
  src/organization/organization.constant.ts
  src/organization/organization.module.ts
  src/organization/service/organization-invite.service.ts
  src/router/router.admin.module.ts
  src/user/controller/user.controller.ts
  src/user/dto/index.ts
  src/user/entity/index.ts
  src/user/guard/user.system-only.guard.ts
  src/user/service/index.ts
  src/user/service/user-invite.service.ts
  src/user/user.constant.ts
  src/user/user.module.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix OrganizationCtx permission access
  src/access-control-list/ability/acl-ability.constant.ts
  src/access-control-list/role/controller/acl-role.controller.ts
  src/app/app.router.module.ts
  src/organization/organization.decorator.ts
  src/organization/service/organization.service.ts
  src/router/router.admin.module.ts
  src/router/router.common.module.ts
  src/user/guard/user.put-to-request.guard.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix organization invite (WIP)
  src/config/organization.config.ts
  src/organization/controller/organization-invite.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix organization invite (send/resent/already invited)
  src/config/index.ts
  src/config/organization.config.ts
  src/database/migrations/default/1656766980962-migration.ts
  src/organization/controller/organization-invite.controller.ts
  src/organization/entity/organization-invite.entity.ts
  src/organization/service/organization-invite.service.ts
  tsconfig.json
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add invite validate + partially join to organization(WIP)
  src/auth/controller/auth.common.controller.ts
  src/auth/guard/payload/auth.password-expired.guard.ts
  src/main.ts
  src/message/languages/en/organization.json
  src/message/languages/en/request.json
  src/organization/controller/organization-invite.controller.ts
  src/organization/controller/organization.controller.ts
  src/organization/dto/index.ts
  src/organization/dto/organization.invite-validate.dto.ts
  src/organization/organization.constant.ts
  src/testing/testing.common.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Move invite function to OrganizationInviteService
  src/organization/controller/organization-invite.controller.ts
  src/organization/organization.module.ts
  src/organization/service/organization-invite.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix request constraints keys
  src/message/languages/en/request.json
Due: yarn format -- --write

Fix organization create, Add invite + transaction
  src/database/seeds/data/system-seed.data.ts
  src/log/log.interface.ts
  src/log/service/log.service.ts
  src/organization/controller/organization-invite.controller.ts
  src/organization/controller/organization.controller.ts
  src/organization/service/organization-invite.service.ts
  src/user/entity/user.entity.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add join invite and create user
  src/auth/controller/auth.common.controller.ts
  src/organization/controller/organization-invite.controller.ts
  src/organization/dto/organization.join.dto.ts
  src/organization/service/organization-invite.service.ts
  src/user/service/user.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

lint format
  integration/database/database.integration.spec.ts
  src/config/index.ts
  src/database/seeds/role-presets.seed.ts
  src/main.ts
  src/organization/controller/organization-invite.controller.ts
  src/user/dto/user.create.dto.ts
  src/user/entity/user.entity.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix aliase imports in config
  src/config/index.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix response message
  src/message/languages/en/organization.json
Due: yarn format -- --write

Fix join/organization invite
  src/organization/service/organization-invite.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

added k8s config
  k8s/config.yaml
Due: yarn format -- --write

added current branch
  .circleci/config.yml
Due: yarn format -- --write

added db secret ref
  k8s/config.yaml
Due: yarn format -- --write

Path conditions:
  yarn lint -- --quiet --fix: any of: *.{js,ts}
  yarn format -- --write: any of: *.{js,ts,md,yml,yaml,json}
