Repository dannyk03/av-platform-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "*.{js,ts,md,yml,yaml,json}": [
        "prettier --write"
    ],
    "*.{js,ts}": [
        "eslint --fix"
    ]
}

SonarCloud shit
  src/organization/controller/organization-invite.controller.ts
  src/utils/file/interceptor/file.image.interceptor.ts
  src/utils/middleware/custom-language/custom-language.middleware.ts
  src/utils/middleware/http-debugger/http-debugger.middleware.ts
  src/utils/middleware/timestamp/timestamp.middleware.ts
  src/utils/middleware/timezone/timezone.middleware.ts
  src/utils/pagination/pagination.decorator.ts
Due: prettier --write, eslint --fix

Adding items to the PR checklist (Sonarcoud and Security checks)
  .github/pull_request_template.md
Due: prettier --write

Fix unused params
  src/access-control-list/role/dto/acl-role.list.dto.ts
  src/catalog/product/dto/product.list.dto.ts
  src/user/dto/user.list.dto.ts
Due: prettier --write, eslint --fix

Fix timestamp healthcheck issue
  src/health/controller/health.controller.ts
  src/utils/request/interceptor/request.timestamp.interceptor.ts
Due: prettier --write, eslint --fix

Fixed Dockerfile errors
  Dockerfile
Due: none

Added stripe ENV
  .env.example
Due: none

Dockerfile note + cleanup
  Dockerfile
Due: none

Dockerfile update
  Dockerfile
Due: none

🚧 Added stripe service
  package.json
  src/config/stripe.config.ts
  src/payment/index.ts
  src/payment/payment.constant.ts
  src/payment/payment.module.ts
  src/payment/stripe/index.ts
  src/payment/stripe/service/index.ts
  src/payment/stripe/service/stripe.service.ts
  src/payment/stripe/stripe.constant.ts
  yarn.lock
Due: prettier --write, eslint --fix

Upgrade packages
  package.json
  src/access-control-list/acl.interface.ts
  src/access-control-list/role/controller/acl-role.controller.ts
  src/access-control-list/subject/entity/acl-subject.entity.ts
  src/catalog/product/controller/product.controller.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/data/system-seed.data.ts
  src/organization/controller/organization-invite.controller.ts
  src/organization/controller/organization.controller.ts
  yarn.lock
Due: prettier --write, eslint --fix

Fix
  src/catalog/product/controller/product.controller.ts
Due: prettier --write, eslint --fix

WIP
  src/catalog/product-display-option/entity/product-display-options.entity.ts
  src/catalog/product/controller/product.controller.ts
  src/catalog/product/dto/product-query-param-id.dto.ts
  src/catalog/product/entity/product.entity.ts
  src/database/migrations/default/1658948289450-migration.ts
  src/utils/middleware/middleware.module.ts
  src/utils/request/request.module.ts
  src/utils/response/interceptor/response.custom-headers.interceptor.ts
Due: prettier --write, eslint --fix

Fix image asset_id
  src/catalog/product-image/entity/product-image.entity.ts
  src/database/migrations/default/1658949960373-migration.ts
Due: prettier --write, eslint --fix

Add product delete
  src/auth/auth.decorator.ts
  src/catalog/product-display-option/entity/product-display-options.entity.ts
  src/catalog/product-image/service/product-image.service.ts
  src/catalog/product/controller/product.controller.ts
  src/catalog/product/entity/product.entity.ts
  src/catalog/product/service/product.service.ts
  src/cloudinary/service/cloudinary.service.ts
  src/database/migrations/default/1658949960376-migration.ts
Due: prettier --write, eslint --fix

Add active/inactive product patch
  src/catalog/product/controller/product.controller.ts
  src/catalog/product/service/product.service.ts
Due: prettier --write, eslint --fix

Fix cookies + magic code
  package.json
  src/auth/auth.interface.ts
  src/auth/controller/auth.common.controller.ts
  src/auth/entity/signup-email-verification-link.entity.ts
  src/auth/entity/user-auth-config.entity.ts
  src/auth/service/auth.service.ts
  src/catalog/product-display-option/entity/product-display-options.entity.ts
  src/catalog/product-image/entity/product-image.entity.ts
  src/catalog/product/entity/product.entity.ts
  src/database/migrations/default/1658949960376-migration.ts
  src/database/migrations/default/1658960139816-migration.ts
  src/gifting/gift/entity/gift-send-confirmation-link.entity.ts
  src/magic-link/controller/magic-link.controller.ts
  src/magic-link/dto/magic-link.dto.ts
  src/organization/entity/organization-invite-link.entity.ts
  src/utils/helper/service/helper.hash.service.ts
  yarn.lock
Due: prettier --write, eslint --fix

Updato lockfile
  package.json
  yarn.lock
Due: prettier --write

Change the ticket description
  .github/pull_request_template.md
Due: prettier --write

Update JFROG-TOKEN value
  .circleci/config.yml
  .npmrc
Due: prettier --write

Change back to origine
  .circleci/config.yml
  .npmrc
Due: prettier --write

Fix middlewares and upgrade packages
  package.json
  src/auth/controller/auth.common.controller.ts
  src/auth/dto/auth.sign-up.dto.ts
  src/utils/middleware/middleware.module.ts
  src/utils/middleware/timestamp/timestamp.middleware.ts
  src/utils/request/request.module.ts
  yarn.lock
Due: prettier --write, eslint --fix

Enable dependabot
  .github/dependabot.yml
Due: prettier --write

Update PR template
  .github/pull_request_template.md
Due: prettier --write

Remove deprecated class-sanitizer + add validator transforms
  .github/pull_request_template.md
  package.json
  src/auth/dto/auth.change-password.dto.ts
  src/auth/dto/auth.login.dto.ts
  src/auth/dto/auth.sign-up.dto.ts
  src/catalog/product/dto/product.create.dto.ts
  src/gifting/gift/dto/gift.send.dto.ts
  src/magic-link/dto/magic-link.dto.ts
  src/organization/dto/organization.create.dto.ts
  src/organization/dto/organization.invite.dto.ts
  src/organization/dto/organization.join.dto.ts
  src/user/dto/user.create.dto.ts
  src/utils/request/transform/Escape.transform.ts
  src/utils/request/transform/NormalizeEmail.transform.ts
  src/utils/request/transform/NormalizeStringInput.transform.ts
  src/utils/request/transform/Trim.transform.ts
  src/utils/request/transform/index.ts
  src/utils/request/transform/transform.interface.ts
  yarn.lock
Due: prettier --write, eslint --fix

Add dayjs (replace moment wip) + fix transforms and DTOs
  package.json
  src/catalog/product/dto/product.create.dto.ts
  src/utils/helper/helper.interface.ts
  src/utils/helper/service/helper.date.service.ts
  src/utils/middleware/timestamp/timestamp.middleware.ts
  src/utils/request/interceptor/request.timestamp.interceptor.ts
  src/utils/request/transform/Escape.transform.ts
  src/utils/request/transform/NormalizeEmail.transform.ts
  src/utils/request/transform/ToLowerCase.transform.ts
  src/utils/request/transform/Trim.transform.ts
  yarn.lock
Due: prettier --write, eslint --fix

Cleanup
  src/auth/dto/auth.sign-up.dto.ts
  src/catalog/product-image/service/product-image.service.ts
  src/utils/middleware/middleware.module.ts
Due: prettier --write, eslint --fix

Remove moment lib (switch to dayjs)
  package.json
  test/helper/helper.date.service.spec.ts
  yarn.lock
Due: prettier --write, eslint --fix

Update docker-compose dev
  docker-compose.yml
Due: prettier --write

Update signup/login flow verification/login
  src/auth/auth.decorator.ts
  src/auth/controller/auth.common.controller.ts
  src/auth/dto/auth.sign-up.dto.ts
  src/auth/guard/gift/index.ts
  src/auth/guard/jwt/auth.jwt.guard.ts
  src/auth/guard/login/login-active.guard.ts
  src/auth/guard/optional/index.ts
  src/auth/guard/optional/optional.jwt.guard.ts
  src/auth/serialization/auth-config.login.serialization.ts
  src/gifting/gift/gift.decorator.ts
  src/magic-link/controller/magic-link.controller.ts
  src/organization/service/organization-invite.service.ts
  src/response-message/languages/en/auth.json
  src/testing/testing.common.controller.ts
  src/utils/error/error.exception.ts
  src/utils/error/index.ts
  src/utils/helper/helper.module.ts
  src/utils/helper/service/helper.cookie.service.ts
  src/utils/helper/service/helper.date.service.ts
  src/utils/helper/service/index.ts
Due: prettier --write, eslint --fix

Add moment-timezone (migration to dayjs WIP)
  package.json
  src/utils/helper/service/helper.date.service.ts
  yarn.lock
Due: prettier --write, eslint --fix
