Repository dannyk03/av-platform-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint -- --quiet --fix, yarn format -- --write

added env variables
  k8s/config.yaml
Due: yarn format -- --write

Add UserAuthConfig + Add join to organization transactional
  src/auth/auth.interface.ts
  src/auth/auth.module.ts
  src/auth/controller/auth.common.controller.ts
  src/auth/entity/user-auth-config.entity.ts
  src/auth/service/auth.service.ts
  src/database/migrations/default/1656766980962-migration.ts
  src/database/seeds/data/system-seed.data.ts
  src/database/seeds/system.seed.ts
  src/organization/controller/organization-invite.controller.ts
  src/organization/controller/organization.controller.ts
  src/user/entity/user.entity.ts
  src/user/guard/user.put-to-request.guard.ts
  src/user/service/user.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

added auth secret ref
  k8s/config.yaml
Due: yarn format -- --write

update
  k8s/config.yaml
Due: yarn format -- --write

Add .editorconfig
  .editorconfig
Due: none

Add OrganizationInvite acl subject
  src/access-control-list/subject/acl-subject.constant.ts
  src/organization/controller/organization-invite.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add dependabot + PR template
  .github/dependabot.yml
  .github/pull_request_template.md
Due: yarn format -- --write

added namespace
  k8s/namespace.yaml
Due: yarn format -- --write

Update tsconfig target to esnext
  tsconfig.json
Due: yarn format -- --write

Add list acl abilities
  package.json
  src/access-control-list/ability/acl-ability.constant.ts
  src/access-control-list/ability/entity/acl-ability.entity.ts
  src/access-control-list/ability/guard/acl-ability.guard.ts
  src/access-control-list/ability/utils/define-ability-for-user.util.ts
  src/access-control-list/ability/utils/index.ts
  src/access-control-list/acl.interface.ts
  src/access-control-list/controller/acl.controller.ts
  src/access-control-list/controller/index.ts
  src/access-control-list/policy/service/acl-policy.service.ts
  src/access-control-list/role/controller/acl-role.controller.ts
  src/access-control-list/subject/acl-subject.constant.ts
  src/access-control-list/subject/entity/acl-subject.entity.ts
  src/access-control-list/subject/index.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/data/system-seed.data.ts
  src/message/languages/en/acl.json
  src/organization/controller/organization-invite.controller.ts
  src/organization/controller/organization.controller.ts
  src/router/router.common.module.ts
  yarn.lock
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix docker setup + .nvmrc -> node v18.x
  .nvmrc
  Dockerfile
  docker-compose.yml
Due: yarn format -- --write

Upgrade packages (NestJS 9 released)
  package.json
  yarn.lock
Due: yarn format -- --write

Fix correlationId middleware
  src/utils/middleware/correlation-id/correlation-id.middleware.ts
  src/utils/request/request.interface.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add README.md (WIP)
  README.md
Due: yarn format -- --write

Fix compose setup (WIP bcrycp node-gyp error)
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: yarn format -- --write

Fix README typo
  README.md
Due: yarn format -- --write

Fix failed CI
  Dockerfile
Due: none

Fix Dockerfile yarn cache clean
  Dockerfile
Due: none

Fix yarn install --immutable in Dockerfile
  Dockerfile
Due: none

Fix Dockerfile production build
  Dockerfile
Due: none

Add nginx + Fix docker-compose
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
  nginx/Dockerfile.dev
  nginx/default.conf
Due: yarn format -- --write

Fix local dev stack (WIP)
  .dockerignore
  Dockerfile
  docker-compose.yml
  nginx/default.conf
  src/config/database.config.ts
  src/database/migrations/default/1657367336832-migration.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Yarn upgrade packages + cleanup compose.yml
  docker-compose.yml
  nginx/Dockerfile.dev
  nginx/default.conf
  package.json
  src/config/database.config.ts
  src/database/migrations/default/1657367336832-migration.ts
  src/database/migrations/default/1657381922651-migration.ts
  yarn.lock
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add profiles to docker-compose.yml
  docker-compose.yml
Due: yarn format -- --write

Fix ServiceUnavailableException catch handler
  src/message/service/message.service.ts
  src/utils/error/error.filter.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix readme.md typo
  README.md
Due: yarn format -- --write

Docker setup fixes
  Dockerfile
  docker-compose.yml
Due: yarn format -- --write

Update readme for db profile
  README.md
Due: yarn format -- --write

Fixes to docker-compose setup
  .env.example
  README.md
  docker-compose.yml
Due: yarn format -- --write

Fixes to docker-compose setup + readme
  Dockerfile
  README.md
  package.json
Due: yarn format -- --write

Add install instruction to readme
  README.md
Due: yarn format -- --write

Fix readme seed instructions
  README.md
Due: yarn format -- --write

Small fixes
  .dockerignore
  Dockerfile
Due: none

Fix user authConfig JWT password expiration
  src/auth/controller/auth.common.controller.ts
  src/auth/entity/user-auth-config.entity.ts
  src/auth/guard/payload/auth.password-expired.guard.ts
  src/auth/serialization/auth-config.login.serialization.ts
  src/auth/serialization/auth-user.login.serialization.ts
  src/auth/serialization/auth.api.get.serialization.ts
  src/auth/serialization/auth.api.list.serialization.ts
  src/auth/serialization/index.ts
  src/auth/service/auth.service.ts
  src/database/migrations/default/1657381922651-migration.ts
  src/user/entity/user.entity.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix ReqUserOrganizationActiveGuard to support users without organization
  src/organization/guard/organization.active.guard.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix ReqUserAclRoleActiveGuard to support users without role
  src/access-control-list/role/guard/acl-role.active.guard.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix --silent flag in Dockerfile + cleanup
  Dockerfile
Due: none

Add signup logic
  src/auth/auth.constant.ts
  src/auth/auth.module.ts
  src/auth/controller/auth.common.controller.ts
  src/auth/dto/auth.sign-up.dto.ts
  src/auth/entity/signup-email-verification-link.entity.ts
  src/auth/service/auth-signup-verification.service.ts
  src/auth/service/index.ts
  src/config/organization.config.ts
  src/config/user.config.ts
  src/message/languages/en/auth.json
  src/messaging/service/email/email.service.ts
  src/organization/service/organization-invite.service.ts
  src/user/entity/user.entity.ts
  src/user/service/user.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Path conditions:
  yarn lint -- --quiet --fix: any of: *.{js,ts}
  yarn format -- --write: any of: *.{js,ts,md,yml,yaml,json}
