Repository dannyk03/av-platform-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint -- --quiet --fix, yarn format -- --write

.lintstagedrc:

{
    "*.{js,ts}": [
        "yarn lint -- --quiet --fix"
    ],
    "*.{js,ts,md,yml,yaml,json}": [
        "yarn format -- --write"
    ]
}

Remove declarations from build
  tsconfig.json
Due: yarn format -- --write

Fix system seed
  package.json
  src/cli.ts
  src/database/migrations/default/1655806295365-migration.ts
  src/database/seeds/data/index.ts
  src/database/seeds/data/system-seed.data.ts
  src/database/seeds/seeds.module.ts
  src/database/seeds/system.seed.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add base migration
  src/access-control-policy/ability/utils/define-ability-for-user.util.ts
  src/access-control-policy/role/acp-role.constant.ts
  src/access-control-policy/role/acp-role.module.ts
  src/access-control-policy/role/entity/acp-role-preset.entity.ts
  src/access-control-policy/role/service/acp-role-preset.service.ts
  src/access-control-policy/subject/acp-subject.constant.ts
  src/config/auth.config.ts
  src/database/migrations/default/1655894540618-migration.ts
  src/database/seeds/data/index.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/role-presets.seed.ts
  src/database/seeds/seeds.module.ts
  src/database/seeds/system.seed.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add .nvmrc
  .nvmrc
Due: none

Add role-presets seed
  package.json
  src/access-control-policy/ability/entity/acp-ability.entity.ts
  src/access-control-policy/subject/acp-subject.constant.ts
  src/database/migrations/default/1655903896082-migration.ts
  src/database/seeds/data/index.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/data/system-seed.data.ts
  src/database/seeds/role-presets.seed.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Remove Basic and AuthApi guards
  package.json
  src/auth/auth.decorator.ts
  src/auth/auth.module.ts
  src/auth/guard/api-key/auth.api-key.guard.ts
  src/auth/guard/api-key/auth.api-key.strategy.ts
  src/auth/guard/basic/auth.basic.guard.ts
  src/auth/service/auth.api.bulk.service.ts
  src/auth/service/auth.api.service.ts
  src/auth/service/index.ts
  yarn.lock
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add Create organization route (WIP)
  src/access-control-policy/ability/service/acp-ability.service.ts
  src/access-control-policy/policy/entity/acp-policy.entity.ts
  src/access-control-policy/policy/service/acp-policy.service.ts
  src/access-control-policy/role/index.ts
  src/access-control-policy/role/service/acp-role-preset.service.ts
  src/access-control-policy/role/service/acp-role.service.ts
  src/access-control-policy/role/service/index.ts
  src/access-control-policy/subject/acp-subject.constant.ts
  src/access-control-policy/subject/entity/acp-subject.entity.ts
  src/access-control-policy/subject/service/acp-subject.service.ts
  src/auth/auth.decorator.ts
  src/auth/auth.module.ts
  src/auth/controller/auth.common.controller.ts
  src/database/seeds/role-presets.seed.ts
  src/database/seeds/system.seed.ts
  src/message/languages/en/organization.json
  src/organization/controller/index.ts
  src/organization/controller/organization.admin.controller.ts
  src/organization/dto/organization.create.dto.ts
  src/organization/index.ts
  src/organization/organization.constant.ts
  src/organization/service/organization.service.ts
  src/router/router.admin.module.ts
  src/router/router.public.module.ts
  src/router/router.test.module.ts
  src/user/controller/user.admin.controller.ts
  src/user/service/user.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Cleanup
  src/auth/auth.constant.ts
  src/auth/controller/auth.common.controller.ts
  src/organization/controller/organization.admin.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix role presets data
  src/database/seeds/data/role-presets-seed.data.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix system seed and organization creation logic
  src/access-control-policy/role/acp-role.module.ts
  src/access-control-policy/role/service/acp-role.service.ts
  src/auth/controller/auth.common.controller.ts
  src/database/migrations/default/1655986869664-migration.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/system.seed.ts
  src/logger/entity/logger.entity.ts
  src/logger/logger.interface.ts
  src/logger/service/logger.service.ts
  src/message/languages/en/auth.json
  src/organization/controller/organization.admin.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix basic readme
  README.md
Due: yarn format -- --write

Add docker-compose for local development
  .dockerignore
  docker-compose.yml
  dockerfile
Due: yarn format -- --write

Change dockerfile images to lts-alpine
  dockerfile
Due: none

Cleanup authapi
  src/auth/auth.decorator.ts
  src/auth/auth.interface.ts
  src/auth/dto/auth.api.create.dto.ts
  src/auth/dto/auth.api.update.dto.ts
  src/auth/dto/index.ts
  src/database/database.constant.ts
  src/organization/controller/organization.admin.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix entities and datasource
  package.json
  src/access-control-list/role/entity/acl-role-preset.entity.ts
  src/access-control-list/role/entity/acl-role.entity.ts
  src/database/typeorm-cli/default.datasource.ts
  src/logger/entity/logger.entity.ts
  src/message/languages/en/auth.json
  src/message/languages/en/message.json
  src/organization/controller/organization.admin.controller.ts
  src/user/entity/user.entity.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add types to db config
  src/config/database.config.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add AclGuard
  src/access-control-list/ability/acl-ability.constant.ts
  src/access-control-list/ability/entity/acl-ability.entity.ts
  src/access-control-list/ability/guard/payload/permission.default.guard.ts
  src/access-control-list/ability/utils/define-ability-for-user.util.ts
  src/access-control-list/acl.interface.ts
  src/access-control-list/role/acl-role.constant.ts
  src/access-control-list/role/guard/acl-role.active.guard.ts
  src/auth/auth.constant.ts
  src/auth/auth.decorator.ts
  src/auth/controller/auth.common.controller.ts
  src/auth/guard/index.ts
  src/auth/guard/jwt-refresh/index.ts
  src/auth/guard/jwt/index.ts
  src/auth/guard/payload/auth.is-active.guard.ts
  src/auth/guard/payload/auth.password-expired.guard.ts
  src/auth/guard/payload/auth.payload.admin.guard.ts
  src/database/seeds/data/role-presets-seed.data.ts
  src/database/seeds/data/system-seed.data.ts
  src/organization/controller/organization.admin.controller.ts
  src/organization/guard/organization.active.guard.ts
  src/organization/organization.constant.ts
  src/user/guard/payload/user.payload.put-to-request.guard.ts
  src/user/guard/user.put-to-request.guard.ts
  src/user/user.constant.ts
  src/user/user.decorator.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add casl abilities definition
  src/access-control-list/ability/guard/index.ts
  src/access-control-list/ability/guard/payload/acl-ability.guard.ts
  src/access-control-list/ability/guard/payload/permission.default.guard.ts
  src/access-control-list/ability/utils/define-ability-for-user.util.ts
  src/database/seeds/system.seed.ts
  src/debugger/service/debugger.option.service.ts
  src/user/guard/user.put-to-request.guard.ts
  src/user/service/user.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Update npm scripts
  .gitignore
  .prettierrc
  package.json
Due: yarn format -- --write

Fix middleware config allowed headers
  src/config/middleware.config.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix SystemAdmin seed role
  src/database/seeds/system.seed.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add CorrelationId middleware
  package.json
  src/utils/middleware/correlation-id/correlation-id.middleware.ts
  src/utils/middleware/middleware.module.ts
  yarn.lock
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add Log entity and logerService logic
  .husky/pre-commit
  src/auth/controller/auth.common.controller.ts
  src/config/middleware.config.ts
  src/core/core.module.ts
  src/log/entity/log.entity.ts
  src/log/index.ts
  src/log/log.constant.ts
  src/log/log.interface.ts
  src/log/log.module.ts
  src/log/service/log.service.ts
  src/logger/entity/logger.entity.ts
  src/logger/index.ts
  src/logger/logger.interface.ts
  src/logger/logger.module.ts
  src/logger/service/logger.service.ts
  src/organization/controller/index.ts
  src/organization/controller/organization.controller.ts
  src/organization/dto/organization.create.dto.ts
  src/user/guard/user.active.guard.ts
  src/user/index.ts
  src/user/service/user.bulk.service.ts
  src/user/service/user.service.ts
  src/user/user.decorator.ts
  src/utils/request/request.decorator.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Cleanup linter
  src/access-control-list/ability/guard/acl-ability.guard.ts
  src/access-control-list/ability/guard/index.ts
  src/access-control-list/ability/guard/permission.active.guard.ts
  src/access-control-list/ability/guard/permission.not-found.guard.ts
  src/access-control-list/ability/guard/permission.put-to-request.guard.ts
  src/access-control-list/ability/utils/define-ability-for-user.util.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add basic test for helper Services, Config, DatabaseOptions, Debugger, Message (Services)
  package.json
  test/app.e2e-spec.ts
  test/config/config.service.spec.ts
  test/database/database.service.spec.ts
  test/debugger/debugger.options.service.spec.ts
  test/debugger/debugger.service.spec.ts
  test/helper/helper.array.service.spec.ts
  test/helper/helper.date.service.spec.ts
  test/helper/helper.encryption.service.spec.ts
  test/helper/helper.file.service.spec.ts
  test/helper/helper.hash.service.spec.ts
  test/helper/helper.number.service.spec.ts
  test/helper/helper.service.spec.ts
  test/helper/helper.string.service.spec.ts
  test/jest-e2e.json
  test/jest.json
  test/message/messaga.service.spec.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix configs (App, Database)
  src/config/app.config.ts
  src/config/database.config.ts
  src/debugger/service/debugger.option.service.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix CircleCi and tests + cleanup
  .circleci/config.yml
  .env.example
  docker-compose.yml
  package.json
  src/config/database.config.ts
  src/message/languages/en/request.json
  src/user/dto/user.create.dto.ts
  src/user/dto/user.request.dto.ts
  src/utils/pagination/pagination.decorator.ts
  test/database/database.service.spec.ts
  test/jest.json
  test/message/messaga.service.spec.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix database health check + add database integration test
  integration/database/database.constant.ts
  integration/database/database.integration.spec.ts
  integration/jest.json
  src/health/controller/health.controller.ts
  src/main.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Add integration tests to npm scripts
  package.json
Due: yarn format -- --write

Fix helthcheck controller response structure
  src/health/controller/health.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix database integration test
  integration/database/database.integration.spec.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Fix import aliase
  src/auth/auth.decorator.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Renamed dockerfile
  .circleci/Dockerfile
Due: none

moved dockerfile to root
  Dockerfile
Due: none

Add .npmrc for JFROG artifactory authentication + Dockerfile args
  .npmrc
  Dockerfile
Due: none

Remove public controllers
  src/access-control-list/role/controller/acl-role.controller.ts
  src/access-control-list/role/controller/index.ts
  src/auth/controller/auth.public.controller.ts
  src/auth/controller/index.ts
  src/router/router.admin.module.ts
  src/router/router.public.module.ts
  src/user/controller/index.ts
  src/user/controller/user.controller.ts
  src/user/controller/user.public.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write

Modules cleanup
  src/organization/controller/index.ts
  src/organization/controller/organization.controller.ts
  src/router/router.admin.module.ts
  src/router/router.common.module.ts
  src/user/controller/user.controller.ts
Due: yarn lint -- --quiet --fix, yarn format -- --write
